.home {
  position: relative;
  background-image: url("../img/home/bg_img_home.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.home .home__bg {
  background-color: rgba(72, 70, 109, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hamburger {
  position: absolute;
  top: 5%;
  left: 5%;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  transition: transform .3s .1s ease-in-out;
}

.hamburger .hamburger__box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger .hamburger__box .hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .1s .2s ease-in-out;
}

.hamburger .hamburger__box .hamburger__inner::before,
.hamburger .hamburger__box .hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  content: '';
  left: 0;
  transition: transform .2s .2s ease-in-out;
}

.hamburger .hamburger__box .hamburger__inner::before {
  top: -10px;
}

.hamburger .hamburger__box .hamburger__inner::after {
  top: 10px;
}

.hamburger--active {
  transform: translateX(85vw);
}

.hamburger--active .hamburger__box .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__box .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__box .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg);
}

.menu {
  height: 100vh;
  width: 90vw;
  background-color: #ABEDD8;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-90vw);
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  transition: transform .3s .1s ease-in-out;
}

.menu .menu__list {
  list-style: none;
  top: 0;
  left: 0;
}

.menu .menu__list .menu__item {
  margin-bottom: 20px;
  width: 100%;
}

.menu .menu__list .menu__item a {
  text-decoration: none;
  color: #000;
}

.menu--active {
  transform: translateX(0vw);
  z-index: 999;
}

.home__icons {
  position: absolute;
  top: calc(5% - 9px);
  right: 10%;
}

.home__icons .icon {
  display: inline-block;
}

.home__icons .icon svg {
  width: 39px;
}

.home__icons .icon:nth-of-type(1) {
  margin-right: 15px;
}

.home__logo {
  width: 128px;
  height: 162px;
  position: absolute;
  top: 14%;
  left: 5%;
}

.title--home {
  position: absolute;
  top: 60%;
  left: 50%;
  line-height: 90px;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: #3D84A8;
  justify-content: space-around;
  align-items: center;
  height: 200vh;
}

.about .about__p {
  width: 80%;
  text-align: center;
  font-size: 28px;
  line-height: 44px;
}

.about .about__p span {
  font-weight: 700;
}

.about .about__icons {
  width: 80%;
  margin-bottom: 100px;
  position: relative;
  top: 0;
  left: 0;
}

.about .about__icons .icon {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}

.about .about__icons .icon svg {
  width: 69px;
  height: 69px;
}

.about .about__icons .icon:nth-of-type(2) {
  left: 100%;
  transform: translateX(-100%);
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #000;
  background-image: url("../img/technologies/shape.svg"), url("../img/technologies/bg.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  min-height: 120vh;
}

.technologies .technologies__stack {
  width: 80vw;
}

.technologies .technologies__stack .stack--html,
.technologies .technologies__stack .stack--css {
  height: 115px;
}

.technologies .technologies__stack .stack--css {
  float: right;
}

.technologies .technologies__stack .stack--js {
  margin-top: 40px;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

.technologies .technologies__tools {
  width: 80vw;
}

.technologies .technologies__tools .title--tools {
  margin-top: 0;
}

.technologies .technologies__tools .tool--npm {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
}

.technologies .technologies__tools .tool--git,
.technologies .technologies__tools .tool--adobe {
  height: 99px;
}

.technologies .technologies__tools .tool--adobe {
  float: right;
}

.projects {
  position: relative;
  background-image: url("../img/projects/bg_projects.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350vh;
}

.projects .title--projects {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.projects .projects__bg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.projects .projects__bg .project__one {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 85%;
}

.projects .projects__bg .project__one .project__logo {
  width: 313px;
}

.projects .projects__bg .project__two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 85%;
}

.projects .projects__bg .project__two .project__logo {
  width: 218px;
}

.projects .projects__bg .project__three {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 85%;
}

.projects .projects__bg .project__three .project__logo {
  width: 225px;
}

.btn {
  width: 147px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.btn--white {
  background-color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding: 13px 0;
  transition: all .3s ease-in-out;
}

.btn--white:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}

.btn--black {
  background-color: #000;
  color: #fff;
  padding: 13px 0;
  transition: all .3s ease-in-out;
}

.btn--black:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.1);
}

p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 35px;
  line-height: 25px;
}

.contact {
  height: 180vh;
  position: relative;
  background-image: url("../img/contact/bg_contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .contact__bg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #321e41;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact .contact__bg .title--contact {
  margin: 0;
}

.contact .contact__bg .contact__p {
  width: 85%;
  position: relative;
  top: -4%;
  font-size: 28px;
  line-height: 44px;
  margin: 0;
}

.contact .contact__bg .contact__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -7%;
  width: 60%;
  height: 75vh;
  font-size: 28px;
}

.contact .contact__bg .contact__form .input--box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}

.contact .contact__bg .contact__form .input--box label {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.contact .contact__bg .contact__form .input--box input,
.contact .contact__bg .contact__form .input--box textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.contact .contact__bg .contact__form .input--box input:focus + .label, .contact .contact__bg .contact__form .input--box input:valid + .label,
.contact .contact__bg .contact__form .input--box textarea:focus + .label,
.contact .contact__bg .contact__form .input--box textarea:valid + .label {
  top: -35px;
  left: -10px;
}

.contact .contact__bg .contact__form .input--box input:focus + .label--textarea, .contact .contact__bg .contact__form .input--box input:valid + .label--textarea,
.contact .contact__bg .contact__form .input--box textarea:focus + .label--textarea,
.contact .contact__bg .contact__form .input--box textarea:valid + .label--textarea {
  top: -45px;
}

.contact .contact__bg .contact__form .input--box input:focus ~ .contact__form--line, .contact .contact__bg .contact__form .input--box input:valid ~ .contact__form--line,
.contact .contact__bg .contact__form .input--box textarea:focus ~ .contact__form--line,
.contact .contact__bg .contact__form .input--box textarea:valid ~ .contact__form--line {
  height: 100%;
  padding: 0 10px;
}

.contact .contact__bg .contact__form .input--box input:focus ~ .contact__form--line--textarea, .contact .contact__bg .contact__form .input--box input:valid ~ .contact__form--line--textarea,
.contact .contact__bg .contact__form .input--box textarea:focus ~ .contact__form--line--textarea,
.contact .contact__bg .contact__form .input--box textarea:valid ~ .contact__form--line--textarea {
  padding: 5px 10px;
}

.contact .contact__bg .contact__form .input--box .contact__form--line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
}

.contact .contact__bg .contact__form .input--textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.contact .contact__bg .contact__form .input--textarea textarea {
  height: 100%;
  resize: none;
}

.contact .contact__bg .contact__form .btn--send {
  padding-right: 0;
  padding-left: 0;
}

.contact .contact__bg .contact__icons {
  width: 85%;
  position: relative;
  top: -9%;
  left: 0;
}

.contact .contact__bg .contact__icons .icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.contact .contact__bg .contact__icons .icon svg {
  width: 72px;
  height: 69px;
}

.contact .contact__bg .contact__icons .icon:nth-of-type(2) {
  left: 50%;
  transform: translateX(-50%);
}

.contact .contact__bg .contact__icons .icon:nth-of-type(3) {
  left: 100%;
  transform: translateX(-100%);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  background-image: url("../img/footer/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer__logo {
  width: 80px;
}

footer .footer__p {
  font-size: 9.5px;
  font-weight: 700;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

section {
  min-height: 100vh;
}

svg {
  fill: #fff;
}

.title {
  text-align: center;
  font-size: 38px;
}

.title span {
  font-weight: 200;
}

/*# sourceMappingURL=style.css.map */