// variables
$title-size: 38px;
$normal-p-size: 28px;
$small-p-size: 16px;


.about {
    display: flex;
    flex-direction: column;
    background-color: #3D84A8;
    justify-content: space-around;
    align-items: center;
    height: 340vw;

    .about__p {
        width: 80%;
        text-align: center;
        font-size: $normal-p-size;
        line-height: 44px;

        span {
            font-weight: 700;
        }
    }

    .about__icons {
        width: 80%;
        margin-bottom: 100px;
        position: relative;
        top: 0;
        left: 0;

        .icon {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;

            svg {
                width: 69px;
                height: 69px;
            }
        }

        .icon:nth-of-type(2) {
            left: 100%;
            transform: translateX(-100%);
        }
    }
}

// MEDIA QUERIES VARIABLES
$smallMobile: 320px;
$mediumMobile: 350px;
$largeMobile: 480px;
$tablet: 768px;
$smallLaptop: 1024px;
$laptop: 1280px;
$desktop: 1600px;

// MEDIA QUERIES
@media only screen (min-width:#{$smallMobile}) and (max-width:#{$mediumMobile - 1px}) {
    .about {
        height: 380vw;
    }
}