// variables
$big-title-size: 48px;
$title-size: 38px;
$normal-p-size: 28px;
$small-p-size: 16px;

@mixin flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.contact {
    height: 350vw;
    width: 100%;
    position: relative;
    background-color: rgba(50, 30, 65, 1);


    .contact__bg {
        @include flex;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .contact__paragraph {
            @include flex;
            width: 85%;

            .contact__p {
                position: relative;
                top: -4%;
                font-size: $normal-p-size;
                line-height: 44px;
            }
        }

        .contact__form {
            @include flex;
            position: relative;
            top: -7%;
            width: 60%;
            height: 175vw;
            font-size: $normal-p-size;

            .input--box {
                @include flex;
                position: relative;
                width: 100%;
                height: 40px;
                color: #fff;

                label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 40px;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    padding: 0 10px;
                    display: block;
                    transition: 0.5s;
                    pointer-events: none;
                }

                input,
                textarea {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    box-shadow: none;
                    border: none;
                    outline: none;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    padding: 0 10px;
                    z-index: 1;
                    color: #000;

                    &:focus,
                    &:valid {


                        +.label {
                            top: -35px;
                            left: -10px;
                        }

                        +.label--textarea {
                            top: -45px;
                        }

                        ~.contact__form--line {
                            height: 100%;
                            padding: 0 10px;
                        }

                        ~.contact__form--line--textarea {
                            padding: 5px 10px;
                        }
                    }
                }

                .contact__form--line {
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    transition: 0.5s;
                    border-radius: 2px;
                }
            }

            .input--textarea {
                position: relative;
                width: 100%;
                height: 100px;
                padding: 10px 0;

                textarea {
                    height: 100%;
                    resize: none;
                }
            }

            .btn--send {
                padding-right: 0;
                padding-left: 0;
            }
        }

        .contact__icons {
            width: 85%;
            position: relative;
            top: -9%;
            left: 0;

            .icon {
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;

                svg {
                    width: 72px;
                    height: 69px;
                }
            }

            .icon:nth-of-type(2) {
                left: 50%;
                transform: translateX(-50%);
            }

            .icon:nth-of-type(3) {
                left: 100%;
                transform: translateX(-100%);
            }
        }
    }
}

// MEDIA QUERIES VARIABLES
$smallMobile: 320px;
$mediumMobile: 350px;
$largeMobile: 480px;
$tablet: 768px;
$smallLaptop: 1024px;
$laptop: 1280px;
$desktop: 1600px;
$bigDesktop: 1900px;

// MEDIA QUERIES
// FROM 320px to 349px
@media only screen and (min-width:#{$smallMobile}) and (max-width:#{$mediumMobile - 1px}) {
    .contact {
        height: 420vw;

        .contact__bg {

            .contact__form {
                height: 200vw;
            }
        }
    }
}

// FROM 480px to 767px
@media only screen and (min-width:#{$largeMobile}) and (max-width:#{$tablet - 1px}) {
    .contact {
        height: 180vw;

        .contact__bg {
            .contact__form {
                height: 100vw;
            }
        }
    }
}

// FROM 768px to 1023px
@media only screen and (min-width:#{$tablet}) and (max-width:#{$smallLaptop - 1px}) {
    .contact {
        height: 140vw;

        .contact__bg {
            .contact__form {
                height: 80vw;
            }
        }
    }
}

// FROM 1024px to 1279px
@media only screen and (min-width:#{$smallLaptop}) {
    .contact {
        height: 80vw;
        background-color: rgba(50, 30, 65, 0.75);

        .contact__bg {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "paragraph form"
                "icons form"
                ". form";
            justify-items: center;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            text-align: left;

            .contact__paragraph {
                @include flex;
                align-items: left;
                grid-area: paragraph;

                .title--contact {
                    align-self: flex-start;
                }
            }

            .contact__form {
                grid-area: form;
                height: 60vw;
            }

            .contact__icons {
                grid-area: icons;
                width: 80%;
            }

        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("../img/contact/bg_contact.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}