// variables
$big-title-size: 48px;
$title-size: 38px;
$normal-p-size: 28px;
$small-p-size: 16px;


@mixin ham-line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
}

// BACKGROUND
.home {
    position: relative;
    background-image: url('../img/home/bg_img_home.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 190vw;
    overflow-x: hidden;

    .home__bg {
        background-color: rgba(72, 70, 109, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// HAMBURGER
.hamburger {
    position: absolute;
    top: 5%;
    left: 5%;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    transition: transform .3s .1s ease-in-out;

    // HAMBURGER INACTIVE
    .hamburger__box {
        width: 30px;
        height: 24px;
        display: inline-block;
        position: relative;

        .hamburger__inner {
            @include ham-line;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color .1s .2s ease-in-out;
        }

        .hamburger__inner::before,
        .hamburger__inner::after {
            @include ham-line;
            content: '';
            left: 0;
            transition: transform .2s .2s ease-in-out;
        }

        .hamburger__inner::before {
            top: -10px;
        }

        .hamburger__inner::after {
            top: 10px;
        }
    }
}

// HAMBURGER ACTIVE
.hamburger--active {
    transform: translateX(85vw);

    .hamburger__box {
        .hamburger__inner {
            background-color: transparent;
        }

        .hamburger__inner:before {
            transform: translateY(10px) rotate(45deg);
        }

        .hamburger__inner:after {
            transform: translateY(-10px) rotate(-45deg);
        }
    }
}

// MENU
.menu {
    height: 100vh;
    width: 90vw;
    background-color: #ABEDD8;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-90vw);
    text-transform: uppercase;
    font-size: 20px;
    transition: transform .3s .1s ease-in-out;

    .menu__list {
        list-style: none;
        top: 0;
        left: 0;

        .menu__item {
            margin-bottom: 20px;

            a {
                text-decoration: none;
                color: #000
            }
        }
    }
}

// MENU ACTIVE
.menu--active {
    transform: translateX(0vw);
    z-index: 999;
}

// ICONS
.home__icons {
    position: absolute;
    top: calc(5% - 9px);
    right: 10%;

    .icon {
        display: inline-block;
        transition: transform .2s ease-out;

        &:hover {
            transform: scale(1.2);
        }

        svg {
            width: 39px;
        }
    }

    .icon:nth-of-type(1) {
        margin-right: 15px;
    }

    .btn--contact {
        display: none;
    }
}

// LOGO
.home__logo {
    width: 128px;
    height: 162px;
    position: absolute;
    top: 14%;
    left: 5%;
}

// H1
.title--home {
    position: absolute;
    top: 60%;
    left: 50%;
    line-height: 90px;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}

// MEDIA QUERIES VARIABLES
$smallMobile: 320px;
$mediumMobile: 350px;
$largeMobile: 480px;
$tablet: 768px;
$smallLaptop: 1024px;
$laptop: 1280px;
$desktop: 1600px;
$bigDesktop: 1900px;

// MEDIA QUERIES
// FROM 320px to 349px
@media only screen and (min-width:#{$smallMobile}) and (max-width:#{$mediumMobile - 1px}) {
    .home {
        height: 220vw;
    }
}

// FROM 480px to 767px
@media only screen and (min-width:#{$largeMobile}) and (max-width:#{$tablet - 1px}) {

    // H1
    .title--home {
        top: 55%;
        line-height: 120px;
    }
}

// FROM 768px to 1023px
@media only screen and (min-width:#{$tablet}) and (max-width:#{$smallLaptop - 1px}) {
    .home {
        height: 100vw;
    }

    // ICONS
    .home__icons {
        .icon {
            svg {
                width: 55px;
                height: 55px;
            }
        }

        .icon:nth-of-type(1) {
            margin-right: 35px;
        }
    }

    // H1
    .title--home {
        top: 55%;
        line-height: 180px;
    }
}

// FROM 1024px to 1279px
@media only screen and (min-width:#{$smallLaptop}) {
    .home {
        height: 70vw;

        .home__bg {
            .hamburger {
                display: none;
            }

            .menu {
                .menu__list {
                    .menu__item {
                        text-shadow: 6px 6px rgba(0, 0, 0, 0.16);
                    }
                }
            }
        }
    }

    // ICONS
    .home__icons {
        display: flex;
        justify-content: space-between;
        right: 5%;
        width: 30%;

        .icon {
            svg {
                width: 55px;
                height: 55px;
            }
        }

        .icon:nth-of-type(1) {
            margin-right: 0;
        }

        .btn--contact {
            margin: 0;
            display: inline-block;
        }
    }

    // MENU
    .menu {
        width: 55%;
        height: 0%;
        top: calc(5% + 2.5px);
        left: 5%;
        background-color: transparent;
        transform: translateX(0vw);


        .menu__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;

            .menu__item {
                margin-bottom: 0;
                font-size: 21px;

                a {
                    color: #fff;
                    position: relative;
                    display: block;

                    &::after {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 0;
                        height: 2px;
                        left: 0;
                        background: #F6F5F6;
                        border-radius: 49%;
                        transition: width .3s ease;
                    }

                    &:hover::after {
                        width: 100%;
                        background: #F6F5F6;
                    }
                }



                &:last-of-type {
                    display: none;
                }
            }
        }
    }
}

// FROM 1280px to 1599px
@media only screen and (min-width:#{$laptop}) {
    .home {
        .home__bg {

            .menu {
                width: 50%;
            }

            .home__icons {
                width: 25%;
            }

            .btn--contact {
                margin-left: 15px;
            }

            .home__logo {
                width: 153.45px;
                height: 195px;
            }
        }
    }
}

// FROM 1600px to 1899px
@media only screen and (min-width:#{$desktop}) {
    .home {
        height: 50vw;

        .home__bg {
            .menu {
                width: 45%;
            }
        }
    }
}

// FROM 1900px
@media only screen and (min-width:#{$bigDesktop}) {
    .home {
        .home__bg {
            .menu {
                width: 40%
            }

            .home__icons {
                width: 20%;
            }
        }
    }
}