// variables
$title-size: 38px;
$normal-p-size: 28px;
$small-p-size: 16px;

.technologies {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #000;
    background-image: url("../img/technologies/shape.svg"), url("../img/technologies/bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    // background-image: url("../img/technologies/bg_technologies@2x.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    min-height: 220vw;

    .technologies__stack {
        width: 80vw;

        .stack--html,
        .stack--css {
            height: 115px;
        }

        .stack--css {
            float: right;
        }

        .stack--js {
            margin-top: 40px;
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
        }
    }

    .technologies__tools {
        width: 80vw;

        .title--tools {
            margin-top: 0;
        }

        .tool--npm {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            margin-bottom: 40px;
        }

        .tool--git,
        .tool--adobe {
            height: 99px;
        }

        .tool--adobe {
            float: right;
        }

    }
}

// MEDIA QUERIES VARIABLES
$smallMobile: 320px;
$mediumMobile: 350px;
$largeMobile: 480px;
$tablet: 768px;
$smallLaptop: 1024px;
$laptop: 1280px;
$desktop: 1600px;

// MEDIA QUERIES
// FROM 320px to 349px
@media only screen and (min-width:#{$smallMobile}) and (max-width:#{$mediumMobile - 1px}) {
    .technologies {
        min-height: 260vw;
    }
}

// FROM 480px to 767px
@media only screen and (min-width:#{$largeMobile}) and (max-width:#{$tablet - 1px}) {
    .technologies {
        min-height: 150vw;
        background-position: center center, center center;
    }
}

// FROM 768px to 1023px
@media only screen and (min-width:#{$tablet}) and (max-width:#{$smallLaptop - 1px}) {
    .technologies {
        min-height: 100vw;
        background-position: center 70%, center center;
    }
}

// FROM 1024px to 1279px
@media only screen and (min-width:#{$smallLaptop}) {
    .technologies {
        min-height: 100vw;
        background-position: center 70%, center center;
    }
}