// variables
$big-title-size: 48px;
$title-size: 38px;
$normal-p-size: 28px;
$small-p-size: 16px;

@mixin grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.technologies {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #000;
    background-image: url("../img/technologies/shape.svg"), url("../img/technologies/bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    min-height: 240vw;


    .technologies__stack {
        width: 80vw;

        .title--technologies {
            text-align: center;
        }

        .stack--html,
        .stack--css {
            height: 115px;
        }

        .stack--css {
            float: right;
        }

        .stack--js {
            margin-top: 40px;
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
        }
    }

    .technologies__tools {
        width: 80vw;

        .title--tools {
            text-align: center;
        }

        .tool--npm {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            margin-bottom: 40px;
        }

        .tool--git,
        .tool--adobe {
            height: 99px;
        }

        .tool--adobe {
            float: right;
        }

    }
}


// MEDIA QUERIES VARIABLES
$smallMobile: 320px;
$mediumMobile: 350px;
$largeMobile: 480px;
$tablet: 768px;
$smallLaptop: 1024px;
$laptop: 1280px;
$desktop: 1600px;
$bigDesktop: 1900px;

// MEDIA QUERIES
// FROM 320px to 349px
@media only screen and (min-width:#{$smallMobile}) and (max-width:#{$mediumMobile - 1px}) {
    .technologies {
        min-height: 260vw;
    }
}

// FROM 480px to 767px
@media only screen and (min-width:#{$largeMobile}) and (max-width:#{$tablet - 1px}) {
    .technologies {
        min-height: 150vw;
        background-position: center center, center center;
    }
}

// FROM 768px to 1023px
@media only screen and (min-width:#{$tablet}) and (max-width:#{$smallLaptop - 1px}) {
    .technologies {
        min-height: 100vw;
        background-position: center 70%, center center;
    }
}

// FROM 1024px to 1279px
@media only screen and (min-width:#{$smallLaptop}) {
    .technologies {
        min-height: 100vw;
        background-position: center 70%, center center;
        background-image: url("../img/technologies/shape2x.svg"), url("../img/technologies/bg2x.svg");
    }
}

// FROM 1280px to 1599px
@media only screen and (min-width:#{$laptop}) {
    .technologies {
        min-height: 80vw;
        background-image: url("../img/technologies/shape2x.svg"), url("../img/technologies/bg2x.svg");

        .technologies__stack {
            @include grid();
            grid-template-areas:
                ". title ."
                "html css js";

            .title--technologies {
                grid-area: title;
                font-size: $big-title-size;
            }

            .stack--html,
            .stack--css,
            .stack--js {
                height: 189px;
            }

            .stack--html {
                grid-area: html;
            }

            .stack--css {
                grid-area: css;
            }

            .stack--js {
                grid-area: js;
                top: 0;
                left: 0;
                margin-top: 0;
                transform: translateX(0%);
            }
        }

        .technologies__tools {
            @include grid;
            grid-template-areas:
                ". title ."
                "npm git adobe";
            align-items: center;

            .title--tools {
                grid-area: title;
                font-size: $big-title-size;
            }

            .tool--npm {
                top: 0;
                left: 0;
                transform: translateX(0%);
                grid-area: npm;
                height: 100px;
                margin: 0;
            }

            .tool--git {
                grid-area: git;
                height: 130px;
            }

            .tool--adobe {
                grid-area: adobe;
                height: 130px;
            }
        }
    }
}

// FROM 1900px
@media only screen and (min-width:#{$bigDesktop}) {
    .technologies {
        min-height: 55vw;
    }
}