@import "home";
@import "about";
@import "technologies";
@import "projects";
@import "contact";
@import "footer";

// variables
$big-title-size: 48px;
$title-size: 38px;
$normal-p-size: 28px;
$small-p-size: 16px;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

svg {
    fill: #fff;
}

.title {
    font-size: $title-size;

    span {
        font-weight: 200;
    }
}

h1,
h2 {
    text-shadow: 6px 6px rgba(0, 0, 0, 0.16);
}

// ICONS
.icon {
    display: inline-block;
    transition: transform .2s ease-out;

    &:hover {
        transform: scale(1.2);
    }
}

// ARROW
.fa-arrow-alt-circle-up {
    position: fixed;
    right: 5%;
    bottom: 4%;
    z-index: 999;
    font-size: 60px;
    color: #000;
    opacity: 0.4;
    cursor: pointer;
    transform: translateX(100vw);
    transition: all .8s ease-out;
}

.fa-arrow-alt-circle-up:hover {
    opacity: 1;
}